# Core Web
Django==5.2.7
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-jazzmin
django-debug-toolbar

# DB & Deployment
gunicorn
psycopg-binary
dj-database-url
whitenoise

# Data
pandas
openpyxl
numpy

# PDFs & Media
PyMuPDF
pdfplumber
pdf2image
Pillow

# AI
google-generativeai

# Utilities
python-decouple
python-dotenv
pywebpush
cryptography
requests
